<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
</head>
<body>
    <h1><%= day %> </h1>

    <ul>
        <% for( let index = 0; index < newListItems.length; index++ ) { %>
        <li><%= newListItems[index] %> </li>
        <% } %>
    </ul>

    <form class="" action="/" method="post">
        <input type="text" name="newItem" id="">
        <button type="submit">Add</button>
    </form>
</body>
</html>